/************************全体************************/

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/************************ヘッダー************************/

header #kotei {
	position: fixed;
}

/************************ナビゲーション************************/

global_navi {
	margin-bottom: 16px;
}

#global_navi ul {
	font-size: 0;
	/*半角スペース削除*/
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

#global_navi ul li {
	font-size: 14px;
	/*フォントサイズ復活*/
	display: inline-block;
	width: 163px;
	margin-right: 1px;
	text-align: center;
}

/************************画面分割************************/

.split-box {
	position: absolute;
	width: 50%;
	height: 90%;
	padding: 1em;
}

.left-box {

	left: 0;
	background: #000000;
	color: #ffffff;
}

.right-box {
	right: 0;
	overflow-y: scroll;
	background: #ffffff;
	padding-top: 0;
}

.left-box a {
	color: #ffffff;
	display: block;
}

/************************レスポンシブ************************/

@media screen and (max-width:600px) {
	.split-box {
		position: relative;
		width: 100%;
		height: auto;
	}
}

/************************メイン画像************************/

.main_picture {
	width: 100%;
	height: 100%;
}

/************************ナビ関連************************/

#Section_1 {
	margin-bottom: 60px;
}

#Section_1>h2 {
	margin-top: 0;
}

/************************スキルアイコン************************/

#Section_2>#skill_icons>figure>img {
	width: 120px;
}

#skill_icons {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
}

#Section_2>#skill_icons>figure>img>figcaption {
	text-align: center;
}


/************************works************************/

.development {
	position: relative;
	margin: 2em 0;
	padding: 0.5em 1em;
	border: solid 3px #95ccff;
	border-radius: 8px;
	box-shadow: 0 0 15px gray;
}

.development.box-title {
	position: absolute;
	display: inline-block;
	top: -13px;
	left: 10px;
	padding: 0 9px;
	line-height: 1;
	font-size: 19px;
	background: #FFF;
	color: #95ccff;
	font-weight: bold;
}

.development img {
	margin: 0;
	padding: 0;
}

.development-items {
	width: 100%;
}
